:root {
    --color-primary: blueviolet;
    --bold-font-weight: bold;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.highscore {
    display: flex;
    align-items: flex-start;
    color: var(--color-primary);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-decoration: none;
    font-weight: var(--bold-font-weight);
}

.time {
    display: flex;
    align-items: flex-end;
    color: var(--color-primary);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: var(--bold-font-weight);
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.intro .title {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: black;
}

.intro p {
    text-align: center;
}

.start {
    background-color: var(--color-primary);
    font-weight: bold;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 5px;
}

.quizpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
  
ol {
    list-style: none;
    counter-reset: olCounter;
}
  
li {
    counter-increment: olCounter;
}
  
li button::before {
    content: counter(olCounter) ". ";
    background-color: var(--color-primary);
    color: white;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

@media only screen and (max-width: 1011px) {
    
    .highscore {
        display: flex;
        align-items: flex-start;
    }

    .time {
        display: flex;
        align-items: flex-end;
    }
}  